{% extends 'base.html' %}
{% block main %}
    <h3 class="text-center p-lg-5">All Properties</h3>
    <div class="card-deck p-lg-5">
{% for listing in data %}

     <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../static/uploads/{{ listing.photo }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ listing.property_title}}</h5>
              <span class="badge badge-primary">{{ listing.price }}</span>
            <p class="card-text"><img src="../static/svg/geo-alt.svg">{{ listing.location }}</p>
            <a href="property/{{ listing.id }}" class="btn btn-primary">View Listing</a>
          </div>
        </div>
        {% endfor %}
     </div>
{% endblock %}